/* responsivo */
@media (max-width:650px) and (min-width: 300px)  {
	body {
		overflow-x: hidden;
	}
	header 
	.header-info, 
	.principal,
	.flex,
	section,
	main
	{
		width: auto;
	}
	.header-info h1 {
		font-size: 50px;
		letter-spacing: 5px;
	}
	.header-info h2 {
		font-size: 30px;
		margin-left: -20px;
		letter-spacing: 2px;
	}
	.flex {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.input-padrao {
		width: 80%;
		margin-left: 20px;
	}
}	
@media screen and (max-width: 450px) {
	.header_contato {
		padding: auto;
	}
	.header-info h1 {
		font-size: 30px;
	}
	.header-info h2 {
		font-size: 20px;
	}	
	.principal p {
		font-size: 12px;
	}
	.link_contato-info {
		font-size: 1rem;
	}
	article .thumb img {
		width: auto;
	}
	article .resume {
		width: 280px;
	}
	.widget_body ,.flex {
		align-items: center;
	}
	
}