/*menu e header */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.corpo {
	background-color: #000000;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.lista {
	display: flex;
	flex-direction: row;
	margin:0 10px;
	justify-content: space-between;
}
.link_contato-info {
	color: #e17259;
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
}
.link_contato-info:hover {
	color: gold;
}
.header_contato {
	background: #34150e;
	padding: 10px 0;
	width: 920px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.header-info {
	background: #34150e;
	width: 920px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-info h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	font-style: italic;
	font-weight: bold;
	color: #e17259;
	padding-bottom: 40px;
	padding-top: 10px;
	letter-spacing: 10px;
}
.header-info h2 {
	font-size: 2rem;
	text-align: center;
	color: #918989;
	font-weight: bold;
	letter-spacing: 5px;
}
.principal {
	background-color: #e1725927;
	color:white;
	width: 920px;
	position: relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* css da pagina inicial */
.imagem-principal {
	margin-bottom: 10px;
	margin-left: 150px;
}
.imagem-principal img {
	width: 80%;
	height: 350px;
	margin-top: 20px;
}
.titulo-principal {
	text-align: center;
	font-size: 30px;
	margin: 0 0 16px;
	font-weight: bold;
}
.principal p {
	margin-left: 130px;
	padding: 10px;
	font-size: 18px;
	font-family: sans-serif;
}
.principal p strong {
	font-weight: bold;
}
.contate-zap a {
	color: green;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: bold;
}
.contate-zap {
	margin-left: 150px;
	margin-top: 20px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 10px;
}
article .thumb {
    margin-top: 20px;
	margin-left: 30px;
}
article .thumb img {
    width: 100%;
    height: auto;
	border-radius: 10px;
}
.thumb > .img1 {
    width: 380px;
}
.thumb > .img2 {
    width: 380px;
}
.thumb > .img3 {
   width: 380px;
}
.thumb > .img4 {
   width: 380px;
}
article .resume {
    font-size: 18px;
	color: white;
	font-weight: bold;
    line-height: 20px;
    margin-bottom: 30px;
	margin-left: 32px;
    width: 370px;
}
/* formulário */
.input_label {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
}
.input-container--invalido {
    margin: 20px 0;
    color: red;
}
.contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}
form label {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
}
.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 130px;
}
.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
} 
/* rodapé */
footer {
	text-align: center;
	margin-top: 50px;
	margin-left: -140px;
}
.copyright {
	color: #ccc;
	font-size: 13px;
}
.copyright a {
	text-decoration: none;
	color: #fff;
}
.copyright a:hover {
	color: gold;
}