/*menu e header */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.corpo {
	width: 99vw;
	height: 100vh;
	overflow-x: hidden;
}
.lista {
	display: flex;
	flex-direction: row;
	margin:0 10px;
	justify-content: space-around;
}
.link_contato-info {
	color: #e17259;
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
}
.link_contato-info:hover {
	color: #34150e;
}
.header_contato {
	background: #f4e1dd;
	position: fixed;
	width: 100%;
	padding: 10px 0;
}
.header-info {
	background: linear-gradient(to top,#34150e 0%, #f4e1dd 100%);
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-info h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	font-style: italic;
	font-weight: bold;
	color: #fff;
	padding-bottom: 20px;
	padding-top: 50px;
	letter-spacing: 10px;
}
.header-info h2 {
	font-size: 2rem;
	text-align: center;
	color: #c6bcbc;
	font-weight: bold;
	letter-spacing: 5px;
}
.principal {
	background: linear-gradient(to bottom,#34150e 60%, #fff 100%);
	color:white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* css da pagina inicial */
.titulo-principal {
	text-align: center;
	font-size: 30px;
	margin: 0 0 16px;
	font-weight: bold;
	letter-spacing: 5px;
	font-family: 'Courier New', Courier, monospace;
}
.principal p {
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.principal p strong {
	color: #e17259;
	font-weight: bold;
}
.contate-zap a {
	color: green;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: bold;
}
.contate-zap {
	margin-top: 20px;
	margin-bottom: 30px;
}
.flex {
    display: flex;
	width: 800px;
    flex-wrap: wrap;
}
article .thumb {
    margin-top: 20px;
	margin-left: 30px;
}
article .thumb img {
    width: 100%;
    height: auto;
	border-radius: 5px;
}
.thumb {
    width: 320px;
}
.thumb:hover {
	transform: scale(1.1);
	margin-bottom: 10px;
}
article .resume {
    font-size: 16px;
	color: white;
    line-height: 20px;
    margin-bottom: 30px;
	text-align: justify;
	margin-left: 32px;
    width: 320px;
}
/* formulário */
.input_label {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
}
.input-container--invalido {
    margin: 20px 0;
    color: red;
}
.contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}
.input-padrao {
	display: block;
	margin: 20px 0;
	padding: 10px 25px;
	width: 100%;
}
.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 130px;
}
.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
} 
/* rodapé */
footer {
	text-align: center;
	margin: 30px 0;
}
.copyright {
	color: #34150e;
	font-size: 13px;
}
.copyright a {
	text-decoration: none;
	color: #34150e;
}
.copyright a:hover {
	color: #e17259;
}